<template>
    <!-- 广告 -->
    <div class="ads-container">
        <div 
            class="item" 
            v-for="(item,index) in dataList"
            :key="index"
            >
            <a :href="item.link" flex="box:last cross:center">
                <div>
                    <div>
                        <div class="title">{{item.title}}</div>
                        <div class="num">{{item.num}}人在玩</div>
                    </div>
                </div>
                <div>
                    <img :src="item.icon" alt="">
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            dataList:{
                type: Array,
                default: function(){
                    return []
                }
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .ads-container{
        margin-top .4rem
    }
    .item{
        padding .1rem .3rem
        background #fff;
        border-top: 1px solid #e3e3e3;
        padding: 10px 0;
        position: relative;
        .title{
            color: #3498db
        }
        .num{
            font-size: 12px;
            color: #9b9b9b;
            margin-top: 10px;
        }
        img{
            width 1.6rem
        }
    }
</style>