<template>
    <div class="container">
        <img src="http://images.1758.com/image/20180613/open_104818_7b140c28774cab536e126b888d4bb8a8.png" alt="">
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="stylus" scoped>
    .container{
        position fixed;
        left 0;
        right 0;
        top 0;
        bottom 0
        z-index 200
        width 100%
        background #fff
        text-align center
        img {
            width 50%
            margin-top 40%
        }
    }
</style>