<template>
  <div>
      <div>
        <img src="http://wx.wpart.cn/uploads/o/ovjiia1527142022/0/8/2/9/5b10b17638361.png_p2js" alt="">
      </div>
      <div class="btn" @click="start">
        开始测试
      </div>
      <div class="btn more" @click="moreGame">
        更多好玩 
      </div>
  </div>
</template>

<script>
  export default {
    methods:{
      start(){
        this.$emit('switch','start')
      },
      moreGame(){
        location.href = "http://xingge.m1758.com/static/partner/common/spf.html?chn=xingge";
      }
    }
  }
</script>

<style lang="stylus" scoped>
    img {
      width 100%
    }
  .btn{
    background: #3cabda;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    color #fff
    margin-top .3rem
  }
  .more{
    background #e9dd73
  }
</style>