<template>
    <div>
        <div class="title">{{now}}/{{len}}：{{title}}</div>
        <div class="answer">
            <div
                v-for="(item,index) in answers"
                :key="index"
                @click="select(index)"
                :class="{active: index == selectNum}"
            >{{item}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                selectNum: null
            }
        },
        props:{
            len: 0,
            now: 0,
            title:'',
            answers:{
                type: Array,
                default:function(){
                    return [];
                }
            }
        },
        methods:{
            select(value){
                var ans = [];
                ans.push(this.len);
                ans.push(value);
                this.selectNum = value;
                setTimeout(() =>{
                    this.$emit('click',ans);
                    this.selectNum = null;
                },500)
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .title{
        color #548dd4
        font-size 15px
        margin .2rem 0;
        font-size 18px
    }
    .answer{
        div{
            margin: 10px 0px;
            border-radius: 3px;
            height: 40px;
            line-height: 40px;
            background-color: #fbd5b5;
            font-size: 15px;
            padding 0 10px;
            box-sizing border-box;
        }
        .active{
            color #fff;
            background #10AEFF
        }
    }
</style>