<template>
    <div>
        <div v-if="loading" class="loading">数据分析中。。。</div>
        <div v-else>
            <div class="t">长按保存图片</div>
            <img :src="img" alt="">
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import qs from 'qs'
    export default {
        data(){
            return {
                loading: true,
                img:''
            }
        },
        created(){
            this.getResult()
        },
        methods:{
            getResult(){
                var url = '/openapi/game/futureChange/postResult.json';
                var info = {}
                axios.post(url,qs.stringify(info))
                    .then(response => {
                        this.loading = false;
                        var resData = response.data;
                        if(resData.result == 1){
                            this.img = resData.data.resultImageUrl
                        }else{

                        }
                    })
                    .catch(err => {
                    })
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .loading{
        text-align center
        margin 5rem 0
    }
    .t{
        background: #18b4ed;
        color: #fff;
        height: 50px;
        position: static;
        line-height: 50px;
        font-family: "STHei","Microsoft YaHei","WenQuanYi Micro Hei";
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    img{
        width 100%
    }
</style>
<style lang="stylus">
.container{
    // width 100%!important;
}
</style>
