
.example {
  display: block;
  width: 80%;
  height: 100rpx;
  margin: auto;
  background: rgb(72, 42, 92);
  line-height: 100rpx;
}

.marquee_box {
  width: 100%;
  position: relative;
}

.marquee_text {
  white-space: nowrap;
  position: absolute;
  top: 0;
  color: #fff;
}

.marquee_text image {
  white-space: nowrap;
  position: absolute;
  left: -60rpx;
  top: 25%;
  width: 50rpx;
  margin: auto;
}