<!-- <view wx:if="{{isShow}}" class='fixed-container'> -->
<view wx:if="{{isshowResult}}" class='fixed-container'>
  <!-- 结果页面 -->
  <view class='wrapper'>
    <!-- 头部 -->
    <!-- <view class='res-head'>
      <view class='inner-head'>
        <text>{{playerName}}</text>
        <text class='time'>{{time}}分钟前</text>获得了娃娃一个
      </view>
    </view> -->
    <view class='inner-wrapper'>
          <view class='res-body'>

            <view class='inner-body'>
              <text class='score-title'>=本次得分=</text>
              <text class='score'>{{score}}</text>
              <view wx:if="{{isSuccess}}">
                <view class='score-tip'>
                  <image src='/images/game/success.png' mode='widthFix'></image>
                </view>
              </view>
              <view wx:if="{{!isSuccess}}">
                <view class='score-tip'>
                   <image src='/images/game/fail.png' mode='widthFix'></image> 
                  <!-- <image src='/images/game/fail.png' mode='widthFix'></image> -->
                </view>
              </view>
            </view>

          </view>
          <!-- 底部 -->
          <view class='res-foot' catchtap='_confirmEvent'>
            <image src='/images/watch.png' mode='widthFix'></image>
          </view>
    
    
    </view>
    <view class='btn goon'>
      <!-- <btn btnText="继续挑战" btnIcon="/images/start/share.png" bind:confirmEvent="goHome"></btn> -->
      <image src='/images/game/challenge.png' catchtap='gochallenge' mode='widthFix'></image>
    </view>
    <view class='btn'>
      <image src='/images/gohome.png' catchtap='gohome'  mode='widthFix'></image>
    </view>
  </view>
  <!-- 按钮页面 -->
  <view></view>

</view>