@import "/app.wxss";
page{
  height: 100%;
}
.container{
  height: 100%;
  position: relative;
  background: #fff;
}

.full{
  height: 100%;
  flex-direction: column;
}
.f1{
  height: 0;
  box-sizing: border-box;
  width: auto;
  align-items:center;
  /* overflow: hidden; */
}
.f1>view{
  text-align: center;
  margin: auto;
}
.top image{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
/**游戏信息**/
.game-wrapper{
  text-align: center;
  padding: 2% 0;
}
.name{
  font-size: 12px;
}
.game image{
  width: 100rpx;
  border-radius: 20rpx;
}
.desc{
  font-size: 13px;
  color: #9b9b9b;
  padding: 10rpx 0;
}

/* 按钮信息 */
.btn-wrapper{
  text-align: center;
}
.btn{
  display: inline-block;
  border-radius: 30rpx;
  padding: 20rpx 60rpx;
  text-align: center;
  margin: auto;
  color: #fff;
  font-weight: bold;
  line-height: initial;
  font-size: 36rpx;
}
.btn1{
  background-color: rgb(252,162,24);
}
.btn2{
  margin-top: 20rpx;
  background-color: rgb(91,189,42);
}

/* 更多游戏 */
.more-wrapper{
   margin-top: 10rpx; 
   padding-top: 20rpx; 
  background: #f2f2f2;
  box-sizing: border-box;
}
.more-inner{
  background: #fff;
}
.head-nav{
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
  font-size: 12px;
  padding: 10rpx 0 8rpx;
}

/* 更多游戏 */

.more-game{
  width: 90%;
  margin: 10rpx auto 10rpx;
}

.flex-item{
  width: 0;
  text-align: center;
}
.flex-item image{
  width: 100rpx;
  border-radius: 20rpx;
}
.flex-item .name{
  font-size: 13px;
}

/* 弹框 */
.modal-show image{
  width: 100%;
  vertical-align: bottom;
}
.cf{
  /* background: rgba(0,0,0,.5); */
  position: absolute;
  bottom: 53rpx;
  width: 100%;
  height: 80rpx;
  text-align: center;
}
.cf-inner{
  /* background: rgba(252,162,0,.7); */
  width: 40%;
  height: 80rpx;
  margin: auto;
}

/* sologon */
.foot-sologon{
  text-align: center;
  font-size: 14px;
  color: #9b9b9b;
  padding: 20rpx 0;
}
.foot-sologon image{
  width: 300rpx;
}