page {
  background-color: #f8e1da;
  overflow-y:auto;

}
image{
  height: 0;
}

.top {
  background-color: #774599;
  padding: 100rpx 0 40rpx;
}

.head {
  text-align: center;
}


.img {
  width: 200rpx;
  height: 200rpx;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
}

.name-wrapper {
  text-align: center;
  margin-top: 10rpx;
  color: #fff;
}

.flex-container {
  display: flex;
  margin-top: 40rpx;
}

.flex-item {
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
  font-size: 30rpx;
  color: #fff;
  width: 50%;
}

.flex-item .num {
  font-size: 66rpx;
}

.btn {
  width: 90%;
  border-radius: 50rpx;
  font-size: 34rpx;
  color: rgb(124, 71, 159);
}
.share-btn{
  letter-spacing:14rpx;

}

.btn image {
  width: 40rpx;
  vertical-align: middle;
}

.moreGame {
  margin-top: 60rpx;
  /* height: 200rpx; */
  text-align: center;
}

.item {
  display: flex;
  padding: 20rpx 15rpx;
  align-items: center;
  /* background: red; */
}



.img-wrapper {
  width: 50rpx;
  margin-right: 20rpx;
  /* color:#fff; */
}

.img-wrapper image {
  width: 80%;
  height: 80%;
}

.head-wrapper {
  width: 80rpx;
}

.head-wrapper image {
  width: 80%;
  /* padding: 20rpx; */
  box-sizing: border-box;
  vertical-align: bottom;
  border-radius: 20rpx;
}

.name {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  padding-left: 10rpx;
  color: #000;
  font-size: 30rpx;
  font-weight: bold;
}

.score {
  border-radius: 20rpx;
  background: #774599;
  width: 100rpx;
  color: #fff;
  padding: 12rpx;
  font-size: 14px;
}

/* bottom */

.kf1 {
  border-radius: 60rpx;
  width: 90%;
  background-color: rgb(33, 173, 55);
  color: #fff;
  margin-top: 50rpx;
}

.gohome {
  /* text-align: center; */
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  position: fixed;
  bottom: 60rpx;
}

.gohome image {
  width: 100%;
}

.tousu {
  position: absolute;
  right: 0;
  top: 14%;
}

.tousu image {
  width: 150rpx;
}

.kf {
  position: absolute;
  right: 0;
  top: 21%;
  margin: 0;
  line-height: 0;
  padding: 0;
  border-radius: 30rpx 0 0 30rpx;
  background-color: rgb(150, 108, 178);
}

.kf image {
  width: 150rpx;
}
