/* pages/shop/shop.wxss */

image {
  height: 0;
}

page {
  background-color: #7c479f;
  height: 100%;
}

.tab_current1 {
  background-color: #fae8e4;
  border-radius: 50rpx 0 0 50rpx;
  color: #966db3;
}

.tab_current2 {
  background-color: #966db3;
  border-radius: 0 50rpx 50rpx 0;
  color: #fae8e4;
}

.tab_current3 {
  background-color: #966db3;
  border-radius: 50rpx 0 0 50rpx;
  color: #fae8e4;
  
}

.tab_current4 {
  background-color: #fae8e4;
  border-radius: 0 50rpx 50rpx 0;
  color: #966db3;
}

.top {
  position: absolute;
  height: 100rpx;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #7c479f;
  overflow: auto;
}

.tab-wrapper {
  background-color: #7c479f;
  width: 60%;
  box-sizing: border-box;
  border-radius: 50rpx;
  margin: 0 auto;
}

.scrollview {
  padding-top: 100rpx;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.tab_item {
  display: inline-block;
  /* color: #fe668c; */
  width: 50%;
  box-sizing: border-box;
  height: 80rpx;
  font-size: 30rpx;
  letter-spacing: 6rpx;
  text-indent: 20rpx;
  line-height: 80rpx;
}

.ListNohavedata {
  text-align: center;
  color: #fff;
  margin: auto;
}

.dataItem {
  border-radius: 10rpx;
  margin: auto;
  width: 96%;
  background: #fff;
  margin-top: 10rpx;
  display: flex;
  padding: 20rpx 30rpx;
  box-sizing: border-box;
}

.gamecenter {
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  /* margin-left: 300rpx;  */
  display: inline-block;
  overflow: hidden;
  line-height: 50rpx;
  /* padding: 0 25rpx 0 10rpx; *//* line-height: 50rpx; */
}

.gametext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-content: center;
  color: #3c3c3c;
  font-size: 30rpx;
}

.gametext1 {
  color: #3c3c3c;
  font-size: 30rpx;
  font-weight: bold;
}

.gamestart {
  color: #000;
  flex-grow: 0;
  font-size: 28rpx;
  flex-shrink: 0;
  position: relative;
  width: 150rpx;
}

.gamestart text {
  text-align: center;
  position: absolute;
  color: #000;
  font-size: 28rpx;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.gamedesc {
  font-size: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5rpx;
  color: #9b9b9b;
}

.title {
  text-align: center;
  font-size: 30rpx;
  color: gold;
  padding-bottom: 14rpx;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40rpx;
}

/* item */

.item {
  box-sizing: border-box;
  flex: 0 0 50%;
  padding: 10rpx;
}

.inner-item {
  border: 1px solid #fff;
  border-radius: 10rpx;
  background: #fff;
}

.item-top image {
  vertical-align: bottom;
  width: 100%;
  border-radius: 10rpx;
}

.flex-container {
  display: flex;
  padding: 10rpx 0;
}

.flex-left {
  flex: 1;
  padding-left: 20rpx;
  width: 0;
}

.name {
  font-size: 30rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meta {
  color: red;
  font-size: 23rpx;
}

.flex-right {
  width: 140rpx;
  position: relative;
}

.btn {
  width: 90%;
  border-radius: 100rpx;
  color: #fff;
  background: #7c479f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  height: 60rpx;
  font-size: 30rpx;
  line-height: 60rpx;
}

._isnot {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 60%;
  padding: 18rpx;
  left: 0;
  right: 0;
  top: 47%;
  margin: auto;
  color: #fff;
  font-size: 28rpx;
  border-radius: 16rpx;
  text-align: center;
}
