<view class='top'>
  <view class='tab-wrapper'>
    <!-- <text class='tableft'>领取娃娃</text>
  <text class='tabright'>兑换记录</text> -->
    <view id="tab1" class='tab_item {{tab_style1}} ' bindtap='getRecordGift'>领取娃娃</view>
    <view id="tab2" class='tab_item {{tab_style2}} ' bindtap='getRecord'>兑换记录</view>
  </view>
</view>

<view wx:if="{{isleft}}" class='scrollview'>
  <scroll-view >
    <view class='item-container' wx:if="{{isGifthavedata}}">
      <view class='item' wx:for="{{giftList}}" wx:key="index">
        <view class='inner-item'>
          <view class='item-top'>
            <image src='{{item.photoUrl}}' mode='widthFix'></image>
          </view>
          <view class='item-bottom flex-container'>
            <view class='flex-left'>
              <view class='name'>{{item.propsName}}</view>
              <view class='meta'>价值{{item.propsPrice/100}}元</view>
            </view>
            <view class='flex-right'>
              <view data-id="{{item.id}}" class='btn' bindtap='getGift'>领取</view>
            </view>
          </view>
        </view>
      </view>
    </view>
    <view wx:else>暂无数据
    </view>
  </scroll-view>
</view>
<view wx:else class='scrollview'>
  <scroll-view >
    <view wx:if="{{isListhavedata}}">
      <view wx:for="{{dataList}}" wx:key="index">
        <view class='dataItem'>
          <view class='gamecenter '>
            <view class='gametext '>兑换人
              <text class='gametext1'>{{item.prosName}}*{{item.amount}}</text>
            </view>
            <text class='gamedesc '> {{item.actionTimeText}}</text>
          </view>
          <view class='gamestart'>
            <text wx:if="{{item.postStatus == 0}}">待确认</text>
            <text wx:if="{{item.postStatus == 10}}">已确认</text>
            <text wx:if="{{item.postStatus == 20}}">待发货</text>
            <text wx:if="{{item.postStatus == 30}}">已发货</text>
            <text wx:if="{{item.postStatus == 40}}">已收货</text>
          </view>
        </view>

      </view>
    </view>
    <view class='ListNohavedata' wx:else>
      <text>暂无数据</text>
    </view>
  </scroll-view>

</view>

<view class='_isnot' wx:if="{{isNot}}">
  您还没有领取资格，赶快挑战吧！
</view>
<scene id="scene" btnText="{{dsc}}" bind:scneeQuxiao="scneeQuxiao"></scene>
<tanping id="tanping" shareDesc="{{shareDesc}}"> </tanping>