<!--index.wxml-->
<view class="container">
  <view class='flex-container full'>
    <!-- 上半部分 -->
    <view class='top flex-box'>
      <image src='{{bigImg}}' mode='widthFix'></image>

    </view>
    <!-- 中间部分 -->
    <view class='flex-box1 f1 flex-container'>
      <view>
        <!-- 游戏信息 -->
        <view class='game-wrapper'>
          <view class='game'>
            <image src='{{gameIcon}}' mode='widthFix'></image>
          </view>
          <view class='name'>
            <text>{{gameName}}</text>
          </view>
          <view class='desc'>
            <text>{{gameDesc}}</text>
          </view>
        </view>
        <!-- 回复提示 -->
        <view class='btn-wrapper'>
          <view>
            <button class='btn btn1' open-type="contact">点此进入回复“1”，开始游戏</button>
          </view>
          <view>
            <button class='btn btn2' open-type="contact">点此进入回复“2”，领取礼包</button>
          </view>
        </view>

      </view>

    </view>
    <!-- 下半部分 -->
    <view class='more-wrapper flex-box f2'>
      <view class='more-inner'>
        <view class='head-nav'>
          更多游戏
        </view>

        <view class='flex-container more-game'>

          <view class='flex-item flex-box1' wx:for="{{moreGames}}" wx:key="index" bindtap='moreGame'>
            <view>
              <image src='{{item.icon}}' mode='widthFix'></image>
              <view class='name'>
                {{item.name}}
              </view>
            </view>

          </view>

        </view>
        <view class='foot-sologon'>
          <image src="http://images.1758.com/image/20180605/open_104818_26d984ee9c6501a29e43e7d2a43c10c1.png" mode='widthFix'></image>
        </view>

      </view>
    </view>




  </view>
  <view class='fixed-container modal-show' id='modalContainer' wx:if="{{isModal}}">
    <view class='fixed-wrapper'>
      <image src='http://images.1758.com/image/20180605/open_104818_cd04480a367dc85f0eaed8d1ae59a91e.png' mode='widthFix'></image>
      <view class='cf'>
        <view class='cf-inner' bindtap='closeModal'></view>
      </view>
    </view>
  </view>

</view>