 <!--components/Dialog/dialog.wxml-->
    <view class='wx_dialog_container' >
        <view class='wx-mask'></view>
        <view class='wx-dialog'>
            <view class='wx-dialog-title'>{{ title }}</view>
            <view class='wx-dialog-content'>{{ content }}</view>
            <view class='wx-dialog-footer'>
              <view class='wx-dialog-btn' catchtap='_cancelEvent'>{{ cancelText }}</view>
              <view class='wx-dialog-btn' catchtap='_confirmEvent'>{{ confirmText }}</view>
            </view>
        </view>
    </view>