/**app.wxss**/
.flex-container{
  display: flex;
}
.flex-box{
  flex-grow: 0;
  flex-shrink: 0;
}
.flex-box1{
  flex-grow: 1;
  flex-shrink: 1;
}
.flex-box2{
  flex-grow: 2;
  flex-shrink: 2;
}
.flex-box3{
  flex-grow: 3;
  flex-shrink: 3;
}
.flex-box4{
  flex-grow: 4;
  flex-shrink: 4;
}
.flex-box5{
  flex-grow: 5;
  flex-shrink: 5;
}

/* fixed */
.fixed-container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7)
}
.fixed-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}
