.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.scrolltxt {
  padding: 0 20rpx;
  background: #f8f8f8;
}

.marquee_box {
  position: relative;
  color: #333;
  height: 90rpx;
  display: block;
  overflow: hidden;
}

.marquee_text {
  white-space: nowrap;
  position: absolute;
  top: 0;
  font-size: 14px;
  height: 90rpx;
  line-height: 90rpx;
}

.pwd {
  position: relative;
  width: 80%;
  overflow: hidden;
  /* background: red; */
  background: rgb(72, 42, 92);
  color: #fff;
  border-radius: 100rpx;
  margin: auto;
}

.pwd-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 3s linear infinite;
}

.pwd-content {
  margin-right: 20rpx;
  display: inline-block;
}

.pwd-content image {
  width: 30rpx;
  height: 30rpx;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.example {
  display: block;
  width: 100%;
  height: 100rpx;
}

.marquee_box {
  width: 100%;
  position: relative;
}

.marquee_text {
  white-space: nowrap;
  position: absolute;
  top: 0;
}
