<template>
  <div class="container">
		<f-m v-if="loading"></f-m>
		<div class="title" v-if="process !== 'result'">
			十年后的你是什么样子？
			<div class="ceshi">
				已有<span>1001212</span>人参与测试
			</div>
		</div>
		<home @switch="switchItem" v-if="process == 'start'"></home>
		<item v-else-if="process == 'processing'"
			:len = "length"
			:now="now"
			:title="dataList[now-1].title"
			:answers="dataList[now-1].qs"
			@click="getResult"
		></item>
		<result v-else-if="process == 'result'"></result>
		<!-- 广告位 -->
		<div class="banner">
			<a href="http://show.mengchenwang.cn/play/game/quickstart2/20fb85e1670f4124536dd5d2e6752f1a?chn=xingge">
				<img src="http://images.1758.com/article/image/2018/06/13/37551528888224916.gif" alt="">
			</a>
		</div>
		<ad
			:dataList="adList"
			></ad>
  </div>
</template>

<script>
import Home from "./components/Home";
import Item from "./components/Item";
import FM from "./components/Fm";
import Ad from "./components/AD";
import Result from './components/Result'
export default {
    data() {
        return {
            process: "start",
            loading: false,
            length: 0,
            now: 1,
            dataList: [
                {
                    title: "你喜欢哪种类型的电影？",
                    qs: ["喜剧", "恐怖片", "科幻", "爱情", "战争"]
                },
                {
                    title: "西游记里你最喜欢谁？",
                    qs: ["唐僧", "孙悟空", "猪八戒", "沙悟净"]
                },
                {
                    title: "你喜欢红色吗？",
                    qs: ["不喜欢", "喜欢", "无所谓"]
                },
                {
                    title: "你最怕？",
                    qs: ["手机没电", "打雷", "夜里没有灯", "怕长大"]
                }
			],
            answerList: [],
			adList:[{
				icon:'http://images.1758.com/article/image/2017/09/06/92111504679276847.gif',
				title:'你的内心年龄有几岁？~',
				num:'11213',
				link:'http://q.m1758.com/play/game/quickstart2/ac0f51ce5d76e0c86c71a6b79860a270?chn=xingge'
			},{
				icon:'http://images.1758.com/article/image/2018/05/11/28821526001867661.png',
				title:'玩了这个游戏，再也不想去吃鸡了~~',
				num:'86542',
				link:'http://q.m1758.com/play/game/quickstart2/3db76404a1467f2b192e447fd1f2caad?chn=xingge'
			},{
				icon:'http://images.1758.com/article/image/2017/03/16/28321489647397776.png',
				title:'这TM肯定不是正经皮卡丘！~',
				num:'47892',
				link:'http://q.m1758.com/ygbkm/index2.html?chn=xingge'
			},{
				icon:'http://images.1758.com/article/image/2017/11/09/30101510219976857.png',
				title:'全民抢BOSS，橙装人人有~',
				num:'7658',
				link:'http://q.m1758.com/jzsc/index2.html?chn=xingge'
			}],
        };
    },
    created() {
        this.length = this.dataList.length;
        document.onreadystatechange = this.readyChange;
    },

    methods: {
        switchItem(value) {
            switch (value) {
                case "start":
                    this.process = "processing";
					break;
				case 'processing':
					this.process = 'result'
				break;
            }
        },
        getResult(value) {
            this.answerList.push(value);
            if (this.now >= this.length) {
				// 结束页面
				this.process = 'result'
            } else {
                this.now++;
            }
        },
        readyChange() {
            if (document.readyState == "complete") {
                //当页面加载状态
                this.loading = false;
            }
        }
    },
    components: {
        Home,
        Item,
        FM,
		Ad,
		Result
    }
};
</script>

<style lang="stylus" scoped>
.container {
	width: 88%;
	margin: auto;
}


.banner{
	margin-top .4rem
	img {
		width 100%
	}
}
.title {
	color: #548dd4;
	font-size: 24px;
	padding: 10px 0;
	text-align: center;
	margin-top: 0.4rem;
	.ceshi{
		color #548dd4
		font-size 13px
		text-align left 
		margin-top .3rem
		span {
			color #e91e63
		}
	}
}
</style>